# slug: CFG-gitignore
# revision: r1
# type: CFG
# status: approved
# effective: 2025-11-14
# controlled_source: https://github.com/Floating-Eye-Software/fley-qms/blob/main/.gitignore

*.backup
[Dd]rafts/
[Ee]xternal/
